<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .errsize,.errnotsame{
            color:red;
        }
        .bigbox{
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box{
            border: 2px solid rgb(192, 190, 190);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 350px;
            height: 430px;
            padding: 20px;
        }
        form{
            display: flex;
            flex-direction: column;
            line-height: 0.3rem;
            
        }
        input{
            height: 30px;
            width: 250px;
            border: 2px solid gray;
        }
        input:focus{
            outline: none;
        }
        .sub{
            margin: 10px 0;
            height: 20px;
            background-color: rgb(4, 76, 159);
            color: white;
            border: none;
            width: 260px;
        }
        .head{
            font-size: large;
            font: 900;
            margin: 10px 0;
        }
        .secondhead{
            font-size: small;
            color: gray;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <div class="bigbox">
    
    <div class="box">
        <div class="head">Create A Strong Password</div>
        <div class="secondhead">Your password must be at least 6 characters and should include a combination of numbers, letters and special characters (!$@%).</div>
        <form  action='http://localhost:9310/socialmedia/api/v1/forgottenpassword/' method="post">
            <p>Email</p>
            <input type="email" name="Email">
            <p>newpassword</p>
            <input type="password" name="newpassword" onchange="sizecheck(this.value)" id="np">
            <div class="errsize"></div>
            <p>repeatnewpassword</p>
            <input type="password" name="repeatnewpassword" onchange="issame(this.value)" id="rnp">
            <div class="errnotsame"></div>
            <input class="sub" type="submit" onclick="check(event)">
        </form>
    </div>
       
</div>
  
</body>
<script>
    const newpassword = document.querySelector('#np');
    const repeatnewpassword = document.querySelector('#rnp');
    const sizeerror = document.querySelector('.errsize');
    const notsameerror = document.querySelector('.errnotsame');

    function sizecheck(val){
        if(val.length<6){
            sizeerror.innerText = '*Password is short'
        }
        else{
            sizeerror.innerText = ''
        }
    }

    function issame(val){
        if(val != newpassword.value){
            notsameerror.innerText = '*password doesnot match'
        } else{
            notsameerror.innerText = ''
        }
    }

    function check(event){
        event.preventDefault();
        let val = newpassword.value;
        if(val.length>=6){
            if(newpassword.value == repeatnewpassword.value){
                document.forms[0].submit()
            }
        }
      
    }
</script>
</html>